body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ece6c2;
}

h1 {
    color: white;
    margin: 1em;
    font-size: 5rem;
    font-weight: 500;
}

.navbar {
    background: #6F5643;
    margin-bottom: 1em;
    font-family: "Comfortaa";
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    float:none;
    text-align: center;
    justify-content: center;
}

.navbar p {
    font-size: 2rem;
    font-weight: 200;
}

.navbar h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}