body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6F5643;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Comfortaa";
    font-weight: 200;
    margin: 1em;
    font-size: 2rem;
    font-weight: 500;
}
